# config
sledconf

# build output
*.o
*.a
*.so
/modules
sled
sled.fish
terminfo/
.cache

# crashy stuff
*.core
*.swp

*.un~
*.d
*~
.#*

tags

# static linking stuff
src/slloadcore.gen.c
static/modwraps/*

# 3DS build output
sled.3dsx
sled.map
src/modules/out_ctru.shbin
src/modules/out_ctru_shbin*

# ndless build output
sled.tns

# emscripten build output
sled.js
sled.wasm
sled.wasm.map

# CLion
.idea/
/compile_commands.json

# nix default result symlink (from nix-build)
/result
