name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, macos-10.15]

    steps:
    - uses: actions/checkout@v2
    - name: Prepare CI config
      run: cp Makefiles/sledconf.ci ./sledconf
    - name: Build
      run: make
    - name: Test
      run: ./sled
